{% extends 'base.html.twig' %}

{% block title %}AdAccount index{% endblock %}

{% block body %}
    <h1>AdAccount index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ad_account in ad_accounts %}
            <tr>
                <td>{{ ad_account.id }}</td>
                <td>{{ ad_account.name }}</td>
                <td>{{ ad_account.status ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('ad_account_show', {'id': ad_account.id}) }}">show</a>
                    <a href="{{ path('ad_account_edit', {'id': ad_account.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ad_account_new') }}">Create new</a>
{% endblock %}
